.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input{
  padding: 5px;
  width: 350px;
  font-size: revert;
}

.btn{
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: gray;
}

.screen {
  background-color: whitesmoke;
  width: 100%;
  height: 100vh;
}

.b{
  color:brown
}

.response {
  color: black;
}

.logo {
  width: 10%;
  height: 10%;
}